<% provide(:title, "Lube In") %>
<h1>Lube In</h1>

<div class="row">
  <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "LUBERICATE ME", class: 'btn btn-primary' %>

  <% end %>
  <p>Are you a NUBE-loser? <%= link_to "Sign up now!", signup_path %></p>
</div>