<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
  </div>
  <div class="form-group">
    <%= f.label :ssn %>
    <%= f.number_field :ssn, class: 'form-control', placeholder: 'SSN' %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password_digest, class: 'form-control', placeholder: 'Password' %>
  </div>
  <div class="text-center">
    <%= f.submit yield(:submit_label), class: 'btn btn-lg btn-base mt-3' %>
  </div>
<% end %>