<section class="container-fluid" id="profile-nav">
  <nav class="container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%= link_to icon('info-circle')+"Overview", overview_user_path, class: action_name == 'overview' ? 'nav-link active' : 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to icon('exchange')+"My Rentals", rentals_user_path, class: action_name == 'rentals' ? 'nav-link active' : 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to icon('car')+"My Cars", cars_user_path, class: action_name == 'cars' ? 'nav-link active' : 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to icon('history')+"History", history_user_path, class: action_name == 'history' ? 'nav-link active' : 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to icon('cog')+"Settings", settings_user_path, class: action_name == 'settings' ? 'nav-link active' : 'nav-link' %>
      </li>
    </ul>
  </nav>
</section>