<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-1">
        <h5 class="text-center"><%= icon('id-card-o') %></h5>
        <h5 class="text-center"><%= icon('globe') %></h5>
        <h5 class="text-center"><%= icon('envelope-o') %></h5>
        <h5 class="text-center"><%= icon('clone') %></h5>
        <h5 class="text-center"><%= icon('clock-o') %></h5>
      </div>
      <div class="col col-desc">
        <% if user.first_name.to_s.length == 0 and user.last_name.to_s.length == 0 %>
          <h5 class="font-italic">This user has not provided a first or last name</h5>
        <% elsif user.first_name.to_s.length != 0 and user.last_name.to_s.length == 0 %>
          <h5><%= user.first_name %></h5>
        <% elsif user.first_name.to_s.length == 0 and user.last_name.to_s.length != 0 %>
          <h5><%= user.last_name %></h5>
        <% else %>
          <h5><%= user.first_name %> <%= user.last_name %></h5>
        <% end %>
        <% if user.city.to_s.length == 0 and user.state.to_s.length == 0 %>
          <h5 class="font-italic">This user has not provided a city or state</h5>
        <% elsif user.city.to_s.length != 0 and user.state.to_s.length == 0 %>
          <h5><%= user.city %></h5>
        <% elsif user.city.to_s.length == 0 and user.state.to_s.length != 0 %>
          <h5><%= user.state %></h5>
        <% else %>
          <h5><%= user.city %>, <%= user.state %></h5>
        <% end %>
        <h5><%= user.email %></h5>
        <% if user.admin == true %>
          <h5>Admin User</h5>
        <% else %>
          <h5>Standard User</h5>
        <% end %>
        <h5>Last logged in on <%= user.logged_in_at.strftime("%A, %B %-d") %> at <%= user.logged_in_at.strftime("%l:%M%p") %></h5>
      </div>
    </div>
  </div>
</div>