<% provide(:title, "My Cars") %>
<% provide(:path, @view_renderer.lookup_context.find_template(@virtual_path).identifier.to_s) %>

<%= render 'users/banner' %>
<% if session[:user_id] == @user.id %>
  <%= render 'users/nav' %>
<% end %>
<section class="container m-top card-wrapper">
  <% if @cars.length == 0 %>
    <div class="text-center">
      <p>Looks like you haven't added a car yet.</p>
      <p>Wanna make some extra cash with your mom's old minivan?</p>
      <%= link_to 'Add a Car today!', new_rental_path, class: 'btn btn-base', role: 'button' %>
    </div>
  <% else %>
    <% @cars.each do |car| %>
      <div class="card">
        <div class="card-header">
          <%# car.make %> <%# car.model %>
          <h3>(Make) <%= car.model %></h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-1">
              <h5 class="text-center"><%= icon('calendar') %></h5>
              <h5 class="text-center"><%= icon('paint-brush') %></h5>
              <h5 class="text-center"><%= icon('barcode') %></h5>
              <h5 class="text-center"><%= icon('tags') %></h5>
            </div>
            <div class="col col-desc">
              <h5>Year: <%= car.year %></h5>
              <h5>Color: <%= car.color %></h5>
              <h5>License Plate: <%= car.plate_num %></h5>
              <div class="row">
                <div class="col">
                  <h5>Tags:
                    <% car.tags.each do |tag_group| %>
                      <% tag_group.name.split(' ').each do |tag| %>
                        <span class="badge badge-tag"><%= tag %></span>
                      <% end %>
                    <% end %>
                  </h5>
                </div>
                <div class="col-md-auto">
                  <div class="btn-group" role="group" aria-label="Change Car">
                    <%= link_to edit_car_path(car), class: 'btn btn-outline-success', role: 'button' do %>
                      <%= icon('pencil') %> Edit
                    <% end %>
                    <%= link_to car, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger', role: 'button' do %>
                      <%= icon('times') %> Delete
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</section>
<% if @cars.length > 0 %>
  <section class="container text-right">
    <%= link_to 'Add a new Car', new_car_path, class: 'btn btn-base', role: 'button' %>
  </section>
<% end %>