<% provide(:title, "My History") %>
<% provide(:path, @view_renderer.lookup_context.find_template(@virtual_path).identifier.to_s) %>
<% params[:page] ? page = params[:page] : page = 1 %>

<%= render 'users/banner' %>
<% if session[:user_id] == @user.id %>
  <%= render 'users/nav' %>
<% end %>
<section class="container mt-5">
  <% if @page_logs.length > 0 %>
    <% @day_logs.each do |day, logs| %>
      <h2><%= smart_date(day.to_datetime) %></h2>
      <hr>
      <% logs.each do |log| %>
        <%= render log %>
      <% end %>
    <% end %>
    <%= paginate @page_logs, {
      class: 'mb-5',
      page_links: false, 
      first_page: "/users/#{@user.username}/history", 
      previous_label: icon('arrow-left'), 
      next_label: icon('arrow-right'),
      link_separator: "<p>#{page} / #{@page_logs.total_pages}</p>" } %>
    <% if @total_logs > @per_page_count %>
      <div class="row justify-content-start">
        <div class="col-auto">
          <div class="input-group">
            <input type="number" class="form-control page-jump" placeholder="Page #" aria-label="Page #">
            <span class="input-group-btn">
              <%= link_to 'Go to Page', history_user_path, class: 'btn btn-base', role: 'button' %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="text-center">
      <p class="font-italic">Looks like you don't have any logs yet.</p>
      <p>Wait but that can't be...</p>
    </div>
  <% end %>
</section>