<% provide(:title, "Sign Up") %>
<h1>Sign Up!</h1>

<%= form_for(@user, url: signup_path) do |f| %>
    <%= render 'shared/error_messages' %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "Create my account!", class: "btn btn-primary" %>
<% end %>
