<% if session[:user_id] == @user.id %>
  <% provide(:title, "My Overview") %>
<% else %>
  <% provide(:title, "#{@user.username}\'s Profile") %>
<% end %>
<% provide(:path, @view_renderer.lookup_context.find_template(@virtual_path).identifier.to_s) %>

<%= render 'users/banner' %>
<% if session[:user_id] == @user.id %>
  <%= render 'users/nav' %>
<% end %>
<section class="container m-top card-wrapper">
  <% if session[:user_id] == @user.id %>
    <h2>My Info</h2>
  <% else %>
    <h2>Info</h2>
  <% end %>
  <hr>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-1">
          <h5 class="text-center"><%= icon('id-card-o') %></h5>
          <h5 class="text-center"><%= icon('globe') %></h5>
          <h5 class="text-center"><%= icon('envelope-o') %></h5>
          <h5 class="text-center"><%= icon('clone') %></h5>
          <h5 class="text-center"><%= icon('clock-o') %></h5>
        </div>
        <div class="col col-desc">
          <h5><%= @user.first_name %> <%= @user.last_name %></h5>
          <h5><%= @user.city %>, <%= @user.state %></h5>
          <h5><%= @user.email %></h5>
          <% if @user.admin == true %>
            <h5>Admin User</h5>
          <% else %>
            <h5>Standard User</h5>
          <% end %>
          <h5>Last logged in on <%= @user.logged_in_at.strftime("%A, %B %-d") %> at <%= @user.logged_in_at.strftime("%l:%M%p") %></h5>
        </div>
      </div>
    </div>
  </div>
</section>
<% if session[:user_id] == @user.id %>
  <% now = Time.now.to_datetime %>
  <section class="container m-top card-wrapper">
    <h2>Recent Rentals as an Owner</h2>
    <hr>
    <% if @rides_sold.length == 0 %>
      <div class="text-center">
        <p>Looks like you haven't rented out your car to anyone recently.</p>
        <p>-insert joke here-</p>
        <%= link_to 'Post a new Rental today!', new_rental_path, class: 'btn btn-base', role: 'button' %>
      </div>
    <% else %>
      <% @rides_sold.each do |r| %>
        <% if r.start_time > now or r.end_time > now - 7.days %>
          <%= render r %>
        <% end %>
      <% end %>
    <% end %>
    <% if @rides_sold.length > 0 %>
      <div class="text-right">
        <%= link_to 'Post a new Rental', new_rental_path, class: 'btn btn-base', role: 'button' %>
      </div>
    <% end %>
  </section>
  <section class="container m-top card-wrapper">
    <h2>Recent Rentals as a Renter</h2>
    <hr>
    <% if @rides_bought.length == 0 %>
      <div class="text-center">
        <p>Looks like you haven't rented anyone else's car recently.</p>
        <p>-insert joke here-</p>
        <%= link_to 'Rent a Car today!', rentals_path, class: 'btn btn-base', role: 'button' %>
      </div>
    <% else %>
      <% @rides_bought.each do |r| %>
        <% if r.start_time > now or r.end_time > now - 7.days %>
          <%= render r %>
        <% end %>
      <% end %>
    <% end %>
    <% if @rides_bought.length > 0 %>
      <div class="text-right">
        <%= link_to 'Rent a Car', rentals_path, class: 'btn btn-base', role: 'button' %>
      </div>
    <% end %>
  </section>
<% end %>
