<% provide(:title, "My Rentals") %>
<% provide(:path, @view_renderer.lookup_context.find_template(@virtual_path).identifier.to_s) %>

<%= render 'users/banner' %>
<% if session[:user_id] == @user.id %>
  <%= render 'users/nav' %>
<% end %>
<section class="container m-top card-wrapper">
  <h2>Rentals as a Renter</h2>
  <hr>
  <% if @rides_bought.length == 0 %>
    <div class="text-center">
      <p>Looks like you haven't rented anyone else's car yet.</p>
      <p>Wanna go on an adventure with little to no regard for the safety of your ride's paint?</p>
      <%= link_to 'Rent a Car today!', rentals_path, class: 'btn btn-base', role: 'button' %>
    </div>
  <% else %>
    <%= render @rides_bought %>
  <% end %>
</section>
<% if @rides_bought.length > 0 %>
  <section class="container text-right">
    <%= link_to 'Rent a Car', rentals_path, class: 'btn btn-base', role: 'button' %>
  </section>
<% end %>
<section class="container m-top card-wrapper">
  <h2>Rentals as an Owner</h2>
  <hr>
  <% if @rides_sold.length == 0 %>
    <div class="text-center">
      <p>Looks like you haven't rented out your car to anyone yet.</p>
      <p>Wanna see your ride in a high-speed chase on the nightly news?</p>
      <%= link_to 'Post a new Rental today!', new_rental_path, class: 'btn btn-base', role: 'button' %>
    </div>
  <% else %>
    <%= render @rides_sold %>
  <% end %>
</section>
<% if @rides_sold.length > 0 %>
  <section class="container text-right">
    <%= link_to 'Post a new Rental', new_rental_path, class: 'btn btn-base', role: 'button' %>
  </section>
<% end %>