<% provide(:title, "My Rentals") %>
<% provide(:path, @view_renderer.lookup_context.find_template(@virtual_path).identifier.to_s) %>
<% params[:page] ? page = params[:page] : page = 1 %>

<%= render 'users/banner' %>
<% if session[:user_id] == @user.id %>
  <%= render 'users/nav' %>
<% end %>
<section class="container mt-5">
  <% if @user.rentals_count == 0 %>
    <div class="text-center">
      <p class="font-italic">Looks like you haven't rented out your car to anyone yet.</p>
      <p>Wanna see your ride in a high-speed chase on the nightly news?</p>
      <%= link_to 'Post a new Rental today!', new_rental_path, class: 'btn btn-base', role: 'button' %>
    </div>
    <hr class="mt-4">
  <% end %>
  <% if @user.renter_rentals_count == 0 || @visible_renter_rentals_count == 0 %>
    <div class="text-center">
      <p class="font-italic">Looks like you haven't rented anyone else's car yet.</p>
      <p>Wanna go on an adventure with little to no regard for the safety of your ride's paint?</p>
      <%= link_to 'Rent a Car today!', rentals_path, class: 'btn btn-base', role: 'button' %>
    </div>
  <% end %>
  <% if @user.rentals_count != 0 && @user.renter_rentals_count == 0 %>
    <hr class="mt-4">
  <% end %>
  <% if @rentals.length > 0 %>
    <%= render @rentals, owners: @owners, renters: @renters, cars: @cars %>
    <%= paginate @rentals, {
      class: 'mb-5',
      page_links: false, 
      first_page: "/users/#{@user.username}/rentals", 
      previous_label: icon('arrow-left'), 
      next_label: icon('arrow-right'),
      link_separator: "<p>#{page} / #{@rentals.total_pages}</p>" } %>
    <% if @total_rentals > @per_page_count %>
      <div class="row justify-content-between">
        <div class="col-auto">
          <div class="input-group">
            <input class="form-control page-jump", type="number" min="1", max="<%= @rentals.total_pages %>", placeholder="Page #" aria-label="Page #">
            <span class="input-group-btn page-jump-btn">
              <%= link_to 'Go to Page', rentals_user_path, class: 'btn btn-base disabled', role: 'button' %>
            </span>
          </div>
          <small class="form-text text-muted js-text">This requires JavaScript</small>
        </div>
    <% else %>
      <div class="row justify-content-end">
    <% end %>
      <div class="col-auto">
        <%= link_to 'Post a new Rental', new_rental_path, class: 'btn btn-base', role: 'button' %>
        <%= link_to 'Rent a Car', rentals_path, class: 'btn btn-base ml-1', role: 'button' %>
      </div>
    </div>
  <% end %>
</section>