<% provide(:title, "My Settings") %>
<% provide(:path, @view_renderer.lookup_context.find_template(@virtual_path).identifier.to_s) %>

<%= render 'users/banner' %>
<% if session[:user_id] == @user.id %>
  <%= render 'users/nav' %>
<% end %>
<section class="container mt-5">
  <h2>Account Information</h2>
  <hr>
  <div class="card">
    <div class="card-body">
      <div class="list-group">
        <p class="list-group-item">
          <%= icon('id-card-o', class: 'fa-fw') %><%#
          %>First Name:<%#
          %><% if @user.first_name.present? %><%#
            %><span><%= @user.first_name %></span>
          <% else %>
            <span class="font-italic">(Add a first name)</span>
          <% end %>
        </p>
        <p class="list-group-item">
          <%= icon('id-card-o', class: 'fa-fw') %><%#
          %>Last Name:<%#
          %><% if @user.last_name.present? %><%#
            %><span><%= @user.last_name %></span>
          <% else %>
            <span class="font-italic">(Add a last name)</span>
          <% end %>
        </p>
        <p class="list-group-item">
          <%= icon('map-signs', class: 'fa-fw') %><%#
          %>City:<%#
          %><% if @user.city.present? %><%#
            %><span><%= @user.city %></span>
          <% else %>
            <span class="font-italic">(Add a city)</span>
          <% end %>
        </p>
        <p class="list-group-item">
          <%= icon('map-o', class: 'fa-fw') %><%#
          %>State:<%#
          %><% if @user.state.present? %><%#
            %><span><%= @user.state %></span>
          <% else %>
            <span class="font-italic">(Add a state)</span>
          <% end %>
        </p>
        <hr>
        <p class="list-group-item">
          <%= icon('user', class: 'fa-fw') %><%#
          %>Username:<%#
          %><span><%= @user.username %></span>
        </p>
        <p class="list-group-item">
          <%= icon('envelope-o', class: 'fa-fw') %><%#
          %>Email:<%#
          %><span><%= @user.email %></span>
        </p>
        <p class="list-group-item">
          <%= icon('lock', class: 'fa-fw') %><%#
          %>Password:<%#
          %><span>********</span>
        </p>
        <p class="list-group-item">
          <%= icon('clone', class: 'fa-fw') %><%#
          %>Account Type:<%#
          %><span><%= @user.admin ? 'Admin User' : 'Standard User' %></span>
        </p>
        <hr>
        <p class="list-group-item">
          <%= icon('car', class: 'fa-fw') %><%#
          %>Cars:<%#
          %><span><%= @user.cars_count %></span>
        </p>
        <p class="list-group-item">
          <%= icon('key', class: 'fa-fw') %><%#
          %>Rentals As Owner:<%#
          %><span><%= @user.rentals_count %></span>
        </p>
        <p class="list-group-item">
          <%= icon('mobile', class: 'fa-fw') %><%#
          %>Rentals As Renter:<%#
          %><span><%= @user.renter_rentals_count %></span>
        </p>
        <hr>
        <p class="list-group-item">
          <%= icon('birthday-cake', class: 'fa-fw') %><%#
          %>Created On:<%#
          %><span><%= smart_time(@user.created_at)[3..-1] %></span>
        </p>
        <p class="list-group-item">
          <%= icon('refresh', class: 'fa-fw') %><%#
          %>Last Updated On:<%#
          %><span><%= smart_time(@user.updated_at)[3..-1] %></span>
        </p>
        <p class="list-group-item">
          <%= icon('sign-in', class: 'fa-fw') %><%#
          %>Last Signed In On:<%#
          %><span><%= smart_time(@user.signed_in_at)[3..-1] %></span>
        </p>
      </div>
      <div class="float-right mt-4">
        <%= link_to icon('pencil')+" Edit", edit_user_path, class: 'btn btn-outline-success', role: 'button' %>
      </div>
    </div>
  </div>
</section>
<section class="container mt-5">
  <h2>Danger Zone</h2>
  <hr>
  <div class="card">
    <div class="card-body">
      <%= link_to 'Delete All Cars', cars_user_path, method: :delete, data: { confirm: "Are you sure you want to permanently delete all of cars you have added?" }, class: 'btn btn-danger', role: 'button' %>
      <p class="mt-2 mb-4">This will permanently delete all of your cars. Watch them go 100 to 0 real quick.</p>
      <%= link_to 'Delete All Rental Posts', rentals_user_path, method: :delete, data: { confirm: "Are you sure you want to permanently delete all of the rental posts you have made as the owner?" }, class: 'btn btn-danger', role: 'button' %>
      <p class="mt-2 mb-4">This will permanently delete all of the rental posts <span class="font-italic">you've made as the owner</span>. If a post was <span class="badge badge-primary">Available</span>, it will be taken off the market. Otherwise, it will be considered <span class="badge badge-danger">Canceled</span>, and niether you nor the renter will have access to it.</p>
      <%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure you want to permanently delete your account?' }, class: 'btn btn-danger', role: 'button' %>
      <p class="mt-2">This will permanently delete your account. There's no going back from this...</p>
    </div>
  </div>
</section>