<% provide(:title, "My Settings") %>
<% provide(:path, @view_renderer.lookup_context.find_template(@virtual_path).identifier.to_s) %>

<%= render 'users/banner' %>
<% if session[:user_id] == @user.id %>
  <%= render 'users/nav' %>
<% end %>
<section class="container m-top card-wrapper">
  <h2>Account Information</h2>
  <hr>
  <div class="card">
    <div class="card-body">
      <div class="list-group">
        <p class="list-group-item d-flex align-items-center">
          <%= icon('id-card-o', class: 'fa-fw') %><%#
          %>First Name:<%#
          %><span class="ml-auto<%= @user.first_name ? '' : ' font-italic' %>"><%#
            %><%= @user.first_name ? @user.first_name : '(Add a first name)' %><%#
          %></span>
        </p>
        <p class="list-group-item d-flex align-items-center">
          <%= icon('id-card-o', class: 'fa-fw') %><%#
          %>Last Name:<%#
          %><span class="ml-auto<%= @user.last_name ? '' : ' font-italic' %>"><%#
            %><%= @user.last_name ? @user.last_name : '(Add a last name)' %><%#
          %></span>
        </p>
        <p class="list-group-item d-flex align-items-center">
          <%= icon('map-signs', class: 'fa-fw') %><%#
          %>City:<%#
          %><span class="ml-auto<%= @user.city ? '' : ' font-italic' %>"><%#
            %><%= @user.city ? @user.city : '(Add a city)' %><%#
          %></span>
        </p>
        <p class="list-group-item d-flex align-items-center">
          <%= icon('map-o', class: 'fa-fw') %><%#
          %>State:<%#
          %><span class="ml-auto<%= @user.state ? '' : ' font-italic' %>"><%#
            %><%= @user.state ? @user.state : '(Add a state)' %><%#
          %></span>
        </p>
        <hr>
        <p class="list-group-item d-flex align-items-center">
          <%= icon('user', class: 'fa-fw') %><%#
          %>Username:<%#
          %><span class="ml-auto"><%#
            %><%= @user.username %><%#
          %></span>
        </p>
        <p class="list-group-item d-flex align-items-center">
          <%= icon('envelope-o', class: 'fa-fw') %><%#
          %>Email:<%#
          %><span class="ml-auto"><%#
            %><%= @user.email %><%#
          %></span>
        </p>
        <p class="list-group-item d-flex align-items-center">
          <%= icon('lock', class: 'fa-fw') %><%#
          %>Password:<%#
          %><span class="ml-auto"><%#
            %>******<%#
          %></span>
        </p>
        <p class="list-group-item d-flex align-items-center">
          <%= icon('clone', class: 'fa-fw') %><%#
          %>Account Type:<%#
          %><span class="ml-auto"><%#
            %><%= @user.admin ? 'Admin User' : 'Standard User' %><%#
          %></span>
        </p>
        <hr>
        <p class="list-group-item d-flex align-items-center">
          <%= icon('car', class: 'fa-fw') %><%#
          %>Cars:<%#
          %><span class="ml-auto"><%#
            %><%= @cars_count %><%#
          %></span>
        </p>
        <p class="list-group-item d-flex align-items-center">
          <%= icon('key', class: 'fa-fw') %><%#
          %>Rentals As Owner:<%#
          %><span class="ml-auto"><%#
            %><%= @rides_sold_count %><%#
          %></span>
        </p>
        <p class="list-group-item d-flex align-items-center">
          <%= icon('mobile', class: 'fa-fw') %><%#
          %>Rentals As Renter:<%#
          %><span class="ml-auto"><%#
            %><%= @rides_bought_count %><%#
          %></span>
        </p>
        <hr>
        <p class="list-group-item d-flex align-items-center">
          <%= icon('birthday-cake', class: 'fa-fw') %><%#
          %>Created On:<%#
          %><span class="ml-auto"><%#
            %><%= @user.created_at.strftime("%A, %B %-d %Y") %> at <%= @user.created_at.strftime("%l:%M %p") %><%#
          %></span>
        </p>
        <p class="list-group-item d-flex align-items-center">
          <%= icon('refresh', class: 'fa-fw') %><%#
          %>Last Updated On:<%#
          %><span class="ml-auto"><%#
            %><%= @user.updated_at.strftime("%A, %B %-d %Y") %> at <%= @user.updated_at.strftime("%l:%M %p") %><%#
          %></span>
        </p>
        <p class="list-group-item d-flex align-items-center">
          <%= icon('sign-in', class: 'fa-fw') %><%#
          %>Last Signed In On:<%#
          %><span class="ml-auto"><%#
            %><%= @user.signed_in_at.strftime("%A, %B %-d %Y") %> at <%= @user.signed_in_at.strftime("%l:%M %p") %><%#
          %></span>
        </p>
      </div>
      <div class="btn-group mt-4 float-right" role="group" aria-label="Edit Account Information">
        <%= link_to icon('pencil')+" Edit", edit_user_path, class: 'btn btn-outline-success', role: 'button' %>
      </div>
    </div>
  </div>
</section>
<section class="container m-top card-wrapper">
  <h2>Danger Zone</h2>
  <hr>
  <div class="card">
    <div class="card-body">
      <%= link_to 'Delete All Cars', about_path, class: 'btn btn-danger', role: 'button' %>
      <p class="mt-2 mb-4">This will permanently delete all of your cars. Watch them go 100 to 0 real quick.</p>
      <%= link_to 'Delete All Rental Posts', about_path, class: 'btn btn-danger', role: 'button' %>
      <p class="mt-2 mb-4">This will permanently delete all of the rental posts you've made as the owner. If a post was <span class="badge badge-primary">Available</span>, it will be taken off the market. Otherwise, it will be considered <span class="badge badge-danger">Canceled</span>, and the renter will no longer have access to it.</p>
      <%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', role: 'button' %>
      <p class="mt-2">This will permanently delete your account. There's no going back from this...</p>
    </div>
  </div>
</section>