<%= form_for(rental) do |f| %>
  <% if rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rental.errors.count, "error") %> prohibited this rental from being saved:</h2>
      <ul>
        <% rental.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :car_id, class: 'd-block' %>
    <%= f.select :car_id, @cars.collect { |car| [car.color << ', ' << car.year.to_s << ' ' << car.make << ' ' << car.model, car.id] }, {}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label 'Start Location' %>
    <%= f.text_field :start_location, class: 'form-control', placeholder: 'Los Angeles' %>
  </div>
  <div class="form-group">
    <%= f.label 'End Location' %>
    <%= f.text_field :end_location, class: 'form-control', placeholder: 'San Francisco' %>
  </div>
  <div class="form-group">
    <%= f.label 'Start Time', class: 'd-block' %>
    <%= f.datetime_select :start_time, class: 'form-control', order: [:month, :day, :year], ampm: true, minute_step: 15 %>
  </div>
  <div class="form-group">
    <%= f.label 'End Time', class: 'd-block' %>
    <%= f.datetime_select :end_time, class: 'form-control', order: [:month, :day, :year], ampm: true, minute_step: 15 %>
  </div>
  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price, class: 'form-control', placeholder: '123.45' %>
  </div>
  <div class="form-group">
    <%= f.label :terms %>
    <%= f.text_field :terms, class: 'form-control', placeholder: 'Terms to be followed by renters' %>
  </div>
  <div class="text-center">
    <%= f.submit yield(:submit_label), class: 'btn btn-lg btn-base mt-3' %>
  </div>
<% end %>