<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <h3 class="mb-0"><span class="badge <%= rental.get_status_class %> mr-3"><%= rental.get_status_label %></span><%= rental.start_location %> <%= icon('arrow-right') %> <%= rental.end_location %></h3>
      </div>
      <div class="col-md-auto">
        <h3 class="mb-0 font-weight-bold">$<%= rental.price %></h3>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-1">
        <h5 class="text-center"><%= icon('clock-o') %></h5>
        <h5 class="text-center"><%= icon('gavel') %></h5>
        <h5 class="text-center"><%= icon('key') %></h5>
        <% if rental.renter_id != nil %>
          <h5 class="text-center"><%= icon('mobile') %></h5>
        <% end %>
        <h5 class="text-center"><%= icon('car') %></h5>
        <h5 class="text-center"><%= icon('tags') %></h5>
      </div>
      <div class="col col-desc">
        <h5>From <%= rental.start_time.strftime("%l:%M%p") %> on <%= rental.start_time.strftime("%A, %b. %-d") %> until <%= rental.end_time.strftime("%l:%M%p") %> on <%= rental.end_time.strftime("%A, %b. %-d") %></h5>
        <% if rental.terms.length == 0 %>
          <h5 class="font-italic">No terms were specified by the owner.</h5>
        <% else %>
          <h5>Terms: <%= rental.terms %></h5>
        <% end %>
          <h5>
            Owner: <%= link_to User.find_by_id(rental.owner_id).username, user_path(rental.owner_id) %>
            <% if session[:user_id] && rental.owner_id == session[:user_id] %>
            (you)
            <% end %>
            
          </h5>
          <h5>Renter:
            <% if rental.renter_id == nil %>
              Available!
            <% else %>
              <%= link_to User.find_by_id(rental.renter_id).username, user_path(rental.renter_id) %>
              <% if session[:user_id] && rental.renter_id == session[:user_id] %>
              (you)
              <% end %>
            <% end %>
          </h5>
        <% rental_car = Car.find_by_id(rental.car_id) %>
        <h5><%= rental_car.color %> <%= rental_car.year %> <%= rental_car.make %> <%= rental_car.model %></h5>
        <div class="row">
          <div class="col">
            <h5>Tags:
              <% rental_car.tags.each do |tag_group| %>
                <% tag_group.name.split(' ').each do |tag| %>
                  <span class="badge badge-tag"><%= tag %></span>
                <% end %>
              <% end %>
            </h5>
          </div>
          <div class="col-md-auto">


            <!-- Lower-right button ('Rent', 'Edit', etc) varies depending on whether -->
            <!--  you're logged in & whether you're participating in the rental. -->
            <% case session[:user_id]
               when nil %>            
              <!-- If not logged in, can view. -->
              <%= link_to 'View', rental, class: 'btn btn-base', role: 'button' %>
            <% when rental.owner_id %>
              <!-- You created the rental, so you can edit/delete it. -->
              <div class="btn-group" role="group" aria-label="Change Post">
                <%= link_to edit_rental_path(rental), class: 'btn btn-outline-success', role: 'button' do %>
                  <%= icon('pencil') %> Edit
                <% end %>
                <%= link_to rental, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger', role: 'button' do %>
                  <%= icon('times') %> Delete
                <% end %>
              </div>
            <% when rental.renter_id %>
              <!-- You're renting it, so you can un-rent it. -->
              <%= link_to "Unrent", {:controller => :rental, :action => :unrent} %>
            <% else %>
              <!-- You're logged in but you're neither the owner nor the renter. -->
              <!-- If it's available, you can rent it. -->
              <% if rental.renter_id.nil? %>
              <%# if rental.status == 0 %>  <!-- (another way to see if rented:) -->
                <%# link_to 'Rent', rental_path(rental.id), class: 'btn btn-base', role: 'button' %> <!-- old -->
                <%= link_to 'Rent', rental_path(rental, params: {:rental => {:renter_id => session[:user_id]}}), method: :patch, class: 'btn btn-base', role: 'button' %>
              <% else %>
                <!-- Not available. Display nothing. -->
              <% end %>
            <% end %>
          </div>
        </div>
        <p class="start-lat" hidden="true"><%= @rental.start_latitude %></p>
        <p class="start-lng" hidden="true"><%= @rental.start_longitude %></p>
        <div class="row">
            <div id="map" style="height:400px;width:400px"></div>
        </div>
      </div>
    </div>
  </div>
</div>