<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <h3 class="mb-0"><span class="badge <%= rental.get_status_class %> mr-3"><%= rental.get_status_label %></span><%= rental.start_location %> <%= icon('arrow-right') %> <%= rental.end_location %></h3>
      </div>
      <div class="col-md-auto">
        <h3 class="mb-0 font-weight-bold">$<%= rental.price %></h3>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-1">
        <h5 class="text-center"><%= icon('clock-o') %></h5>
        <h5 class="text-center"><%= icon('gavel') %></h5>
        <h5 class="text-center"><%= icon('key') %></h5>
        <% unless rental.renter_id.nil? %>
          <h5 class="text-center"><%= icon('mobile') %></h5>
        <% end %>
        <h5 class="text-center"><%= icon('car') %></h5>
        <h5 class="text-center"><%= icon('tags') %></h5>
      </div>
      <div class="col col-desc">
        <h5>From <%= rental.start_time.strftime("%l:%M%p") %> on <%= rental.start_time.strftime("%A, %b. %-d") %> until <%= rental.end_time.strftime("%l:%M%p") %> on <%= rental.end_time.strftime("%A, %b. %-d") %></h5>
        <% if rental.terms.nil? %>
          <h5 class="font-italic">No terms were specified by the owner.</h5>
        <% else %>
          <h5>Terms: <%= rental.terms %></h5>
        <% end %>
        <h5>Owner: <%= link_to User.find(rental.owner_id).username, user_path(rental.owner_id) %>
        <% if session[:user_id] && rental.owner_id == session[:user_id] %>
          <span class="font-italic">(You are the owner)</span>
        <% end %>
        </h5>
        <% unless rental.renter_id.nil? %>
          <h5>Renter: <%= link_to User.find(rental.renter_id).username, user_path(rental.renter_id) %>
          <% if session[:user_id] && rental.renter_id == session[:user_id] %>
            <span class="font-italic">(You are the renter)</span>
          <% end %>
          </h5>
        <% end %>
        <% rental_car = Car.find(rental.car_id) %>
        <h5><%= rental_car.make %> <%= rental_car.model %></h5>
        <div class="row">
          <div class="col">
            <h5>Tags:
              <% rental_car.tags.each do |tag_group| %>
                <% tag_group.name.split(' ').each do |tag| %>
                  <span class="badge badge-tag"><%= tag %></span>
                <% end %>
              <% end %>
            </h5>
          </div>
          <div class="col-md-auto">
            <% case session[:user_id] %>
            <% when rental.owner_id %>
              <%= link_to icon('pencil')+" Edit", edit_rental_path(rental), class: 'btn btn-outline-success mr-2', role: 'button' %>
              <%= link_to icon('times')+" Delete", rental, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger', role: 'button' %>
            <% when rental.renter_id %>
              <%= link_to icon('search')+" View", rental, class: 'btn btn-outline-base mr-2', role: 'button' %>
              <%= link_to icon('times')+" Unrent", {controller: :rentals, action: :unrent}, method: :patch, class: 'btn btn-outline-danger', role: 'button' %>
            <% else %>
              <% if rental.renter_id.nil? %>
                <%= link_to icon('shopping-cart')+" Rent", {controller: :rentals, action: :rent}, method: :patch, class: 'btn btn-outline-base', role: 'button' %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>