<% provide(:title, 'Available Rentals') %>
<% provide(:path, @view_renderer.lookup_context.find_template(@virtual_path).identifier.to_s) %>
<% params[:page] ? page = params[:page] : page = 1 %>

<section class="container-fluid banner">
  <div class="container text-center">
    <h1>Available Rentals</h1>
    <p><%= @total_available_rentals %> currently available</p>
  </div>
</section>
<section class="container mt-5">
  <% if @available_rentals.length > 0 %>
    <%= render @available_rentals, owners: @owners, cars: @cars %>
    <%= paginate @available_rentals, {
      class: 'mb-5',
      page_links: false, 
      first_page: "/rentals", 
      previous_label: icon('arrow-left'), 
      next_label: icon('arrow-right'),
      link_separator: "<p>#{page} / #{@available_rentals.total_pages}</p>" } %>
    <% if @total_available_rentals > @per_page_count %>
      <div class="row justify-content-between">
        <div class="col-auto">
          <div class="input-group">
            <input type="number" class="form-control page-jump" placeholder="Page #" aria-label="Page #">
            <span class="input-group-btn">
              <%= link_to 'Go to Page', rentals_path, class: 'btn btn-base', role: 'button' %>
            </span>
          </div>
        </div>
    <% else %>
      <div class="row justify-content-end">
    <% end %>
      <div class="col-auto">
        <%= link_to 'Post a new Rental', new_rental_path, class: 'btn btn-base', role: 'button' %>
      </div>
    </div>
  <% else %>
    <div class="text-center mt-5">
      <p class="font-italic">Looks like there aren't any rentals available at this time.</p>
      <p>Wanna see your ride in a high-speed chase on the nightly news?</p>
      <%= link_to 'Post a new Rental today!', new_rental_path, class: 'btn btn-base', role: 'button' %>
    </div>
  <% end %>
</section>
