<% provide(:title, 'Available Rentals') %>
<% provide(:path, @view_renderer.lookup_context.find_template(@virtual_path).identifier.to_s) %>

<section class="container-fluid banner">
  <div class="container">
    <h1>Available Rentals</h1>
  </div>
</section>
<%# https://www.railstutorial.org/book/updating_and_deleting_users#sec-pagination %>
<%# https://github.com/yrgoldteeth/bootstrap-will_paginate %>
<% if @available_rentals.length != 0 %>
  <%= will_paginate @available_rentals, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'justify-content-center' %>
  <section class="container m-top card-wrapper">
    <%# render @available_rentals, owners: @owners, cars: @cars %>
    <% rentals = @available_rentals.zip(@owners, @cars) %>
    <% rentals.each do |rental, owner, car| %>
      <% cache(cache_key_for_rental(rental, owner, car)) do %>
        <%= render rental, owner: owner, car: car %>
      <% end %>
    <% end %>
  </section>
  <%= will_paginate @available_rentals, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'justify-content-center' %>
  <section class="container text-right">
    <%= link_to 'Post a new Rental', new_rental_path, class: 'btn btn-base', role: 'button' %>
  </section>
<% else %>
  <div class="text-center">
    <p class="font-italic">Looks like there aren't any rentals available at this time.</p>
    <p>Wanna see your ride in a high-speed chase on the nightly news?</p>
    <%= link_to 'Post a new Rental today!', new_rental_path, class: 'btn btn-base', role: 'button' %>
  </div>
<% end %>