<% provide(:title, 'Available Rentals') %>
<% provide(:path, @view_renderer.lookup_context.find_template(@virtual_path).identifier.to_s) %>
<% params[:page] ? page = params[:page] : page = 1 %>

<section class="container-fluid banner">
  <div class="container text-center">
    <h1>Available Rentals</h1>
    <p><%= @total_available_rentals %> currently available</p>
  </div>
</section>
<section class="container mt-5">
  <% if @available_rentals.length > 0 %>
    <%= render @available_rentals, owners: @owners, cars: @cars %>
    <%= will_paginate @available_rentals, 
      class: 'mb-5',
      page_links: false, 
      previous_label: icon('arrow-left'), 
      next_label: icon('arrow-right'),
      link_separator: "<p>#{page} / #{@available_rentals.total_pages}</p>" %>
    <div class="text-right">
      <%= link_to 'Post a new Rental', new_rental_path, class: 'btn btn-base', role: 'button' %>
    </div>
  <% else %>
    <div class="text-center mt-5">
      <p class="font-italic">Looks like there aren't any rentals available at this time.</p>
      <p>Wanna see your ride in a high-speed chase on the nightly news?</p>
      <%= link_to 'Post a new Rental today!', new_rental_path, class: 'btn btn-base', role: 'button' %>
    </div>
  <% end %>
</section>
