<% provide(:title, "FAQ") %>
<% provide(:path, @view_renderer.lookup_context.find_template(@virtual_path).identifier.to_s) %>

<section class="container-fluid banner">
  <div class="container">
    <h1>FAQ</h1>
    <p class="lead">Everything you ever wanted to know about Lube(r)</p>
  </div>
</section>
<section class="container mt-5">
  <h2>General</h2>
  <hr>
  <div role="tablist">
    <%= render 'statics/accordion_card', 
      n: "one", 
      q: "What is Luber?", 
      a: "Luber is a car-sharing app whose name is legally distinct from \"Lyft\" and \"Uber\". Whereas these services act similar to taxi services in that someone comes and picks you up, driving you to a set location, Luber is much more free in its nature."
    %>
    <%= render 'statics/accordion_card', 
      n: "two",
      q: "How does it work?",
      a: "Car owners set parameters to renting their car, including start and end times/locations, and any additional terms they see fit. Once you have secured a rental, you gain access to the car during the given timeframe and can use it to drive anywhere you'd like, even on long-distance trips, time permitting. At the end of your rental, simply return the car to the end location. That's it!"
    %>
    <%= render 'statics/accordion_card', 
      n: "three",
      q: "What about filling up gas? What if the owner flakes? I'm scared, what do I do?",
      a: "While we have the general concepts for this layed out, details such as these are up to our (non-existant) product development team to figure out. Godspeed to them."
    %>
  </div>
  <h2 class="mt-5">Technical</h2>
  <hr>
  <div role="tablist">
    <%= render 'statics/accordion_card', 
      n: "four",
      q: "How come *insert feature here* isn't implemented?",
      a: "This website was built primarily as a means to an end to learn about and apply webapp scaling techniques. While learning how to develop a web application with multiple models interacting with each other, users, and a database can suffice as a course on it's own, we wanted to stick with the curriculum and only develop what we saw fit to make the results of our scaling tests interesting."
    %>
    <%= render 'statics/accordion_card', 
      n: "five",
      q: "I found an issue with the website. Do I get a cookie?",
      a: "Nope. But you can click on the \"Issues\" link at the bottom of the page and report it on our GitHub repository."
    %>
  </div>
  <h2 class="mt-5">Legal</h2>
  <hr>
  <div role="tablist">
    <%= render 'statics/accordion_card', 
      n: "six",
      q: "Is this even legal?",
      a: "Who knows, you tell us ¯\\_(ツ)_/¯"
    %>
    <%= render 'statics/accordion_card', 
      n: "seven",
      q: "Ok no but seriously, is any of this insured?",
      a: "Ok, fine, you caught us. From the ambiguously copyright-infringing company name, to the practicality of enforcing rules on someone who literally has the keys to your car, there's clearly some issues here. This is just a demo web application for a student project, afterall."
    %>
  </div>
</section>