<p id="notice"><%= notice %></p>

<h1>Available Rentals</h1>

<table>
  <thead>
    <tr>
      <th>Car</th>
      <th>Owner</th>
      <th>Renter</th>
      <th>Start location</th>
      <th>End location</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Price</th>
      <th>Owner terms</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody> 
    <% @available_rental_posts.each do |rp| %>
      <tr>
        <td><%= rp.car_id %></td>
        <td><%= rp.owner_id %></td>
        <td><%= rp.renter_id %></td>
        <td><%= rp.start_location %></td>
        <td><%= rp.end_location %></td>
        <td><%= rp.start_time %></td>
        <td><%= rp.end_time %></td>
        <td><%= rp.price %></td>
        <td><%= rp.terms %></td>

        <% if session[:user_id] %>
          <% if User.find(session[:user_id]).name == 'admin' %>
            <td><%= link_to 'Show', rp %></td>
            <td><%= link_to 'Edit', edit_rental_post_path(rp) %></td>
            <td><%= link_to 'Destroy', rp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
            <td>
              <%= link_to rental_post_path(rp.id), :method => :patch, class: "btn btn-info btn-med"  do %>
                Rent
              <% end %>
            </td>
          <% end %>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>



<h1>Filled Rentals</h1>

<table>
  <thead>
    <tr>
      <th>Car</th>
      <th>Owner</th>
      <th>Renter</th>
      <th>Start location</th>
      <th>End location</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Price</th>
      <th>Owner terms</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @filled_rental_posts.each do |rp| %>
      <tr>
        <td><%= rp.car_id %></td>
        <td><%= rp.owner_id %></td>
        <td><%= rp.renter_id %></td>
        <td><%= rp.start_location %></td>
        <td><%= rp.end_location %></td>
        <td><%= rp.start_time %></td>
        <td><%= rp.end_time %></td>
        <td><%= rp.price %></td>
        <td><%= rp.terms %></td>

        <% if session[:user_id] %>
          <% if User.find(session[:user_id]).name == 'admin' %>
            <td><%= link_to 'Show', rp %></td>
            <td><%= link_to 'Edit', edit_rental_post_path(rp) %></td>
            <td><%= link_to 'Destroy', rp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>



<%= link_to 'New Rental Post', new_rental_post_path %>
