<p id="notice"><%= notice %></p>

<h1>Rental Posts</h1>

<table>
  <thead>
    <tr>
      <th>Car</th>
      <th>Owner</th>
      <th>Renter</th>
      <th>Start location</th>
      <th>End location</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Price</th>
      <th>Owner terms</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rental_posts.each do |rental_post| %>
      <tr>
        <td><%= rental_post.car_id %></td>
        <td><%= rental_post.owner_id %></td>
        <td><%= rental_post.renter_id %></td>
        <td><%= rental_post.start_location %></td>
        <td><%= rental_post.end_location %></td>
        <td><%= rental_post.start_time %></td>
        <td><%= rental_post.end_time %></td>
        <td><%= rental_post.price %></td>
        <td><%= rental_post.terms %></td>
        <td><%= link_to 'Show', rental_post %></td>
        <td><%= link_to 'Edit', edit_rental_post_path(rental_post) %></td>
        <td><%= link_to 'Destroy', rental_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rental Post', new_rental_post_path %>
