<p id="notice"><%= notice %></p>

<p>
  <strong>Car:</strong>
  <%= @rental_post.car_id %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @rental_post.owner_id %>
</p>

<p>
  <strong>Renter:</strong>
  <%= @rental_post.renter_id %>
</p>

<p>
  <strong>Start location:</strong>
  <%= @rental_post.start_location %>
</p>
<p class="start-lat" hidden="true"><%= @rental_post.start_latitude %></p>
<p class="start-lng" hidden="true"><%= @rental_post.start_longitude %></p>

<div id="map" style="height:400px;width:400px"></div>

<p>
  <strong>End location:</strong>
  <%= @rental_post.end_location %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @rental_post.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @rental_post.end_time %>
</p>

<p>
  <strong>Price:</strong>
  <%= @rental_post.price %>
</p>

<p>
  <strong>Owner terms:</strong>
  <%= @rental_post.terms %>
</p>

<%= link_to 'Edit', edit_rental_post_path(@rental_post) %> |
<%= link_to 'Back', rental_posts_path %>
