<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-1">
        <h5 class="text-center"><%= icon('car') %></h5>
        <h5 class="text-center"><%= icon('taxi') %></h5>
        <h5 class="text-center"><%= icon('calendar') %></h5>
        <h5 class="text-center"><%= icon('paint-brush') %></h5>
        <h5 class="text-center"><%= icon('barcode') %></h5>
        <h5 class="text-center"><%= icon('tags') %></h5>
      </div>
      <div class="col col-desc">
        <h5><%= car.make %></h5>
        <h5><%= car.model %></h5>
        <h5><%= car.year %></h5>
        <h5><%= car.color %></h5>
        <h5>License Plate: <%= car.license_plate %></h5>
        <div class="row">
          <div class="col">
            <h5>Tags:
              <% car.tags.each do |tag_group| %>
                <% tag_group.name.split(' ').each do |tag| %>
                  <span class="badge badge-tag"><%= tag %></span>
                <% end %>
              <% end %>
            </h5>
          </div>
          <div class="col-md-auto">
            <% if session[:user_id] == car.user_id %>
              <%= link_to icon('pencil')+" Edit", edit_car_path(car), class: 'btn btn-outline-success mr-1', role: 'button' %>
              <%= link_to icon('times')+" Delete", car, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger', role: 'button' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>