<div class="card">
  <div class="card-header">
    <h3 class="mb-0"><%= car.make %> <%= car.model %></h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-1">
        <h5 class="text-center"><%= icon('calendar') %></h5>
        <h5 class="text-center"><%= icon('paint-brush') %></h5>
        <h5 class="text-center"><%= icon('barcode') %></h5>
        <h5 class="text-center"><%= icon('tags') %></h5>
      </div>
      <div class="col col-desc">
        <h5>Year: <%= car.year %></h5>
        <h5>Color: <%= car.color %></h5>
        <h5>License Plate Number: <%= car.plate_number %></h5>
        <div class="row">
          <div class="col">
            <h5>Tags:
              <% car.tags.each do |tag_group| %>
                <% tag_group.name.split(' ').each do |tag| %>
                  <span class="badge badge-tag"><%= tag %></span>
                <% end %>
              <% end %>
            </h5>
          </div>
          <div class="col-md-auto">
            <div class="btn-group" role="group" aria-label="Change Car">
              <%= link_to icon('pencil')+" Edit", edit_car_path(car), class: 'btn btn-outline-success', role: 'button' %>
              <%= link_to icon('times')+" Delete", car, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger', role: 'button' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>