<%= form_for(car) do |f| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>
      <ul>
        <% car.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if !session[:user_id] %>
    <div class="form-group">
      <%= f.label :user_id %>
      <%= f.number_field :user_id, class: 'form-control', placeholder: 'Owner' %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label 'License Plate Number' %>
    <%= f.text_field :plate_num, class: 'form-control', placeholder: 'License Plate Number' %>
  </div>
  <div class="form-group">
    <%= f.label :model %>
    <%= f.text_field :model, class: 'form-control', placeholder: 'Model' %>
  </div>
  <div class="form-group">
    <%= f.label :color %>
    <%= f.text_field :color, class: 'form-control', placeholder: 'Color' %>
  </div>
  <div class="form-group">
    <%= f.label :year %>
    <%= f.number_field :year, class: 'form-control', placeholder: 'Year' %>
  </div>
  <div class="form-group">
    <%= f.label :tags %>
    <%= f.text_field :all_tags, class: 'form-control', placeholder: 'Tags' %>
  </div>
  <div class="text-center">
    <%= f.submit yield(:submit_label), class: 'btn btn-lg btn-base mt-3' %>
  </div>
<% end %>