<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @car.user_id %>
</p>

<p>
  <strong>Plate num:</strong>
  <%= @car.plate_num %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Color:</strong>
  <%= @car.color %>
</p>

<p>
  <strong>Year:</strong>
  <%= @car.year %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
