<%= form_with(model: stat, local: true) do |form| %>
  <% if stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stat.errors.count, "error") %> prohibited this stat from being saved:</h2>

      <ul>
      <% stat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :total_deleted_users %>
    <%= form.number_field :total_deleted_users, id: :stat_total_deleted_users %>
  </div>

  <div class="field">
    <%= form.label :total_deleted_rentals %>
    <%= form.number_field :total_deleted_rentals, id: :stat_total_deleted_rentals %>
  </div>

  <div class="field">
    <%= form.label :total_deleted_cars %>
    <%= form.number_field :total_deleted_cars, id: :stat_total_deleted_cars %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
