<p id="notice"><%= notice %></p>

<p>
  <strong>Total deleted users:</strong>
  <%= @stat.total_deleted_users %>
</p>

<p>
  <strong>Total deleted rentals:</strong>
  <%= @stat.total_deleted_rentals %>
</p>

<p>
  <strong>Total deleted cars:</strong>
  <%= @stat.total_deleted_cars %>
</p>

<%= link_to 'Edit', edit_stat_path(@stat) %> |
<%= link_to 'Back', stats_path %>
