<section class="footer-nav-wrapper">
  <nav class="footer-nav">
    <div class="container">
      <div class="row">
        <div class="col">
          <h4>Sitemap</h4>
          <div class="list-group">
            <p class="list-group-item">
              <%= link_to icon('home')+"Home", home_path %>
            </p>
            <p class="list-group-item">
              <%= link_to icon('comments-o')+"About", about_path %>
            </p>
            <p class="list-group-item">
              <%= link_to icon('question-circle')+"FAQ", faq_path %>
            </p>
            <p class="list-group-item">
              <%= link_to icon('envelope')+"Contact Us", contact_path %>
            </p>
            <p class="list-group-item">
              <%= link_to icon('eye')+"Privacy Policy", privacy_path %>
            </p>
          </div>
        </div>
        <div class="col">
          <h4>Development</h4>
          <div class="list-group">
            <p class="list-group-item">
              <%= link_to icon('github')+"GitHub", 'https://github.com/scalableinternetservices/Luber', target: '_blank' %>
            </p>
            <p class="list-group-item">
              <%= link_to icon('exclamation-triangle')+"Issues", 'https://github.com/scalableinternetservices/Luber/issues', target: '_blank' %>
            </p>
            <p class="list-group-item">
              <%= icon('copyright') %> 2017 Luber. All rights reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</section>