<div class="footer-nav-wrapper">
  <nav class="footer-nav">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Sitemap</p>
        </div>
        <div class="col">
          <p>Development</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <ul>
            <li>
              <%= link_to icon('home')+"Home", home_path, class: 'footer-entry' %>
            </li>
            <li>
              <%= link_to icon('comments-o')+"About", about_path, class: 'footer-entry' %>
            </li>
            <li>
              <%= link_to icon('question-circle')+"FAQ", faq_path, class: 'footer-entry' %>
            </li>
            <li>
              <%= link_to icon('envelope')+"Contact Us", contact_path, class: 'footer-entry' %>
            </li>
            <li>
              <%= link_to icon('eye')+"Privacy Policy", privacy_path, class: 'footer-entry' %>
            </li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li>
              <%= link_to icon('github')+"GitHub", 'https://github.com/scalableinternetservices/Luber', class: 'footer-entry', target: '_blank' %>
            </li>
            <li>
              <%= link_to icon('exclamation-triangle')+"Issues", 'https://github.com/scalableinternetservices/Luber/issues', class: 'footer-entry', target: '_blank' %>
            </li>
            <li>
              <p class="footer-entry"><%= icon('copyright') %> 2017 Luber. All rights reserved.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>