<div class="nav-wrapper">
  <nav class="navbar navbar-expand-sm">
    <div class="container">
      <a class="navbar-brand" href="/">
        <%= image_tag "luber-logo.png", :class => "d-inline-block align-top", :alt => "Luber" %>
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <% if logged_in? %>
            <%= link_to 'Post a new Rental', new_rental_path, class: 'btn btn-base ml-auto mr-4', role: 'button' %>
        <% else %>
            <%= link_to 'Login or signup to start posting!', login_path, class: 'btn btn-base ml-auto mr-4', role: 'button' %>
        <% end %>
        <ul class="navbar-nav">
          <% if logged_in? %>
            <li>
              <%= link_to rentals_path, class: 'nav-link' do %>
                <%= icon('exchange') %> Rentals
              <% end %>
            </li>
            <li>
              <%= link_to current_user, class: 'nav-link' do %>
                <%= icon('user-circle') %> <%= current_user.username %>
              <% end %>
            </li>
            <li>
              <%= link_to logout_path, method: :delete, class: 'nav-link' do %>
                <%= icon('sign-out') %> Logout
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to signup_path, class: 'nav-link' do %>
                <%= icon('user-o') %> Signup
              <% end %>
            </li>
            <li>
              <%= link_to login_path, class: 'nav-link' do %>
                <%= icon('sign-in') %> Login
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>