<div class="nav-wrapper">
  <nav class="navbar navbar-expand-sm">
    <div class="container">
      <a class="navbar-brand" href="/">
        <%= image_tag("luber-logo/luber-logo.jpg", :class => "d-inline-block align-top", :alt => "Luber") %>
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li>
            <%= link_to('Home', {:controller => 'static_pages', :action => 'home'}, class: 'nav-link' ) %>
          </li>
          <li>
            <%= link_to('About', {:controller => 'static_pages', :action => 'about'}, class: 'nav-link' ) %>
          </li>
          <li>
            <%= link_to('FAQ', {:controller => 'static_pages', :action => 'faq'}, class: 'nav-link' ) %>
          </li>
          <li>
            <%= link_to('Contact', {:controller => 'static_pages', :action => 'contact'}, class: 'nav-link' ) %>
          </li>
          <li>
            <%= link_to('Privacy', {:controller => 'static_pages', :action => 'privacypolicy'}, class: 'nav-link' ) %>
          </li>
          <li>
            <%= link_to('Login', {:controller => 'static_pages', :action => 'home'}, class: 'nav-link' ) %>
          </li>
          <li>
            <%= link_to('Signup', {:controller => 'static_pages', :action => 'home'}, class: 'nav-link' ) %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>