 <title><%= yield(:title) %> | Luber</title>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= render 'application/favicon' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzTwUYnqKcx9uh6hMKUv335E1DenBgcgQ"></script>