<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>
    <main>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </main>
    <footer>
      <%= render 'layouts/debug' %>
      <%= render 'layouts/footer' %>
    </footer>
    <div hidden>
      <%= render 'layouts/scripts' %>
    </div>
  </body>
</html>
