<!DOCTYPE html>
<html>
  <head>
    <title>LuberApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <% if logged_in? %>
      <li><%= link_to "Users", "#" %></li>
      <li><%= link_to "Profile", current_user %></li>
      <li><%= link_to "Settings", "#" %></li>
      <li><%= link_to "LUBE OUT", logout_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "LUBE IN", login_path %></li>
    <% end %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
