<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <header>
      <%= render 'layouts/header' %>
      <%= render 'layouts/alert' %>
    </header>
    <main class="container-fluid" id="<%= controller_name %>-<%= action_name %>">
      <%= yield %>
      <% if current_admin? %>
        <%= render 'layouts/debug' %>
      <% end %>
    </main>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
