<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>
    <main class="container-fluid">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </main>
    <footer>
      <% if User.find_by(id: session[:user_id]) != nil && User.find_by(id: session[:user_id]).admin == true %>
        <%= render 'layouts/debug' %>
      <% end %>
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
