<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Luber</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style type="text/css">

      body {
            max-width: 10in;
      }

      header {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
      }




      nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding-bottom: 20px;
        background-color: #eee;
        border: 4px solid #b50c81;
        margin-top: -4px;
      }

      .nav-link {
        padding-top: 10px;
        margin-top: 8px;
        margin-left: 8px;
        margin-right: 8px;
        text-decoration: none;
        /*color: #2c81a9;*/
      }

      footer {
         margin: 2em 0em 1em;
      }

    </style>
  </head>

  <body>

    <header>
      <%= image_tag("luber-logo/luber-logo.jpg")%>
    </header>



    <nav>
      <%= link_to('Home', {:controller => 'static_pages', :action => 'home'}, class: 'nav-link' ) %>
      <%= link_to('FAQ', {:controller => 'static_pages', :action => 'faq'}, class: 'nav-link' ) %>
      <%= link_to('Contact', {:controller => 'static_pages', :action => 'contact'}, class: 'nav-link' ) %>
      <%= link_to('About', {:controller => 'static_pages', :action => 'about'}, class: 'nav-link' ) %>
      <%= link_to('Privacy Policy', {:controller => 'static_pages', :action => 'privacypolicy'}, class: 'nav-link' ) %>
    </nav>


    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <% if logged_in? %>
      <li><%= link_to "Users", "#" %></li>
      <li><%= link_to "Profile", current_user %></li>
      <li><%= link_to "Settings", "#" %></li>
      <li><%= link_to "LUBE OUT", logout_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "LUBE IN", login_path %></li>
    <% end %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>


    <footer>
      © 2017 Luber. All rights reserved.
    </footer>
  </body>
</html>
